
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Users can read/write their own profile, but only read others'
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }
    
    // Users can read/write their own notifications
    match /users/{userId}/notifications/{notificationId} {
        allow read, write: if request.auth.uid == userId;
    }

    // Chat Rooms are only accessible to participants
    match /chatRooms/{roomId} {
      // Allow read if user is a participant
      allow read: if request.auth.uid in resource.data.participants;
      // Allow create for any authenticated user
      allow create: if request.auth != null;

      // Messages can be read by participants and created by the sender
      match /messages/{messageId} {
        allow read: if get(/databases/$(database)/documents/chatRooms/$(roomId)).data.participants.hasAny([request.auth.uid]);
        allow create: if request.auth.uid == request.resource.data.senderId;
      }
    }

    // Suggestions can be read by anyone, but only created/modified/deleted by the owner
    match /suggestions/{suggestionId} {
      allow read: if request.auth != null;
      allow create: if request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth.uid == resource.data.userId;
      
      match /comments/{commentId} {
        allow read, create: if request.auth != null;
      }
    }
    
    // Assignments can be read by anyone, but only created/modified/deleted by the owner
    match /assignments/{assignmentId} {
      allow read: if request.auth != null;
      allow create: if request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth.uid == resource.data.userId;

      match /comments/{commentId} {
        allow read, create: if request.auth != null;
      }
    }

    // Community chat messages can be read by anyone, but only deleted by the owner
    match /messages/{messageId} {
        allow read, create: if request.auth != null;
        allow delete: if request.auth.uid == resource.data.userId;
    }

    // Game scores can be created by any authenticated user
    match /games/{gameId}/scores/{scoreId} {
        allow read, create: if request.auth != null;
    }
  }
}
